<%= bootstrap_form_with(model: org, local: true, data: { controller: "places", action: "google-maps-callback@window->places#initMap" }) do |form| %>
  <% if org.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(org.errors.count, "error") %> prohibited this org from being saved:</h2>
      <ul>
        <% org.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :name , hide_label: true, placeholder: "Name" %>

  <%= form.fields_for :place, @org.place || @org.build_place do |builder| %>
    <%= builder.search_field :address, hide_label: true, placeholder: "Address", data: { target: "places.field"} %>
    <%= builder.text_field :latitude, hide_label: true, placeholder: "Latitude", data: { target: "places.latitude"} %>
    <%= builder.text_field :longitude, hide_label: true, placeholder: "Longitude", data: { target: "places.longitude"} %>
  <% end %>

  <%= form.submit class: "btn btn-primary mb-3" %>

  <div data-target="places.map" style="height: 400px"></div>

<% end %>


