<p id="notice"><%= notice %></p>
<section class="container">

  <div class="row mb-3">
    <div class="col text-center">
      <h1>Orgs</h1>
      <%= link_to "New Org", new_org_path %>
    </div>
  </div>

  <div class="row justify-content-center mb-3">
    <div class="col-10 text-center">
      <%= bootstrap_form_tag url: orgs_path, method: :get do |f| %>
        <%= f.search_field :q, hide_label: true, value: params[:q] %>
        <%= f.submit "Search", name: nil %>
      <% end %>
    </div>
  </div>



  <div class="row justify-content-center">
    <div class="col-10">
      <% @orgs.each do |org| %>
        <div class="row border-bottom">
          <div class="col">
            <%= org.name %>
          </div>
          <div class="col">
            <%= org.place&.address %>
          </div>
          <div class="col">
            <%= link_to "Show", org %>
            <%= link_to "Edit", edit_org_path(org) %>
            <%= link_to "Destroy", org, method: :delete, data: { confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</section>



